<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Padaria Tia Rosa</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

<div class="login-box">
    <h2>Padaria Tia Rosa</h2>
    <p>Faça seu login</p>

    <form method="POST">
    {% csrf_token %}

        <input type="text" name="usuario" placeholder="Usuário" required>
        <input type="password" name="senha" placeholder="Senha" required>

        <button type="submit">Entrar</button>
    </form>

    <div class="links">
        <a href="TelaCadastro.html">Cadastre-se</a>
        <a href="TelaEsqueciSenha.html">Esqueci minha senha</a>
    </div>
</div>

</body>
</html>